body {
    font-family: 'Roboto', sans-serif;
}

.encabezado {
    background-color: black;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    align-items: center;
}

.lista {
    display: flex;
}
.lista li {
    padding: 1px 6px;
}

.menu {
    background-color: #F0A83E;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color:#FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.menu li {
    padding: 1px 6px;
}

.menu a {
    color:#FFFFFF;
    text-decoration: none;
}